.Maps {
    padding-top: calc(15vh + 80px);
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .maps-list {
        display: grid;
        grid-template-columns: repeat(2, 125px);
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 20px;
        padding-top: 80px;
        justify-content: center;
        justify-items: center;
        align-items: center;
        width: 100%;
    }
}

@media screen and (min-width: 460px) {
    .Maps {
        .maps-list {
            grid-template-columns: repeat(3, 125px);
        }
    }
}

@media screen and (min-width: 860px) {
    .Maps {
        .maps-list {
            grid-template-columns: repeat(3, 250px);
            gap: 30px;
        }
    }
}

@media screen and (min-width: 1170px) {
    .Maps {
        .maps-list {
            grid-template-columns: repeat(4, 250px);
        }
    }
}