.Operator {
    padding-top: calc(15vh + 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .operator-header {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        background-color: rgb(175, 175, 175);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        padding: 10px 2vw 0 2vw;
        margin-bottom: 40px;

        #operator-portrait {
            position: relative;
            z-index: 1;
            width: 90vw;
        }

        .operator-title {
            position: absolute;
            bottom: 10px;
            z-index: 2;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            background-color: rgb(175, 175, 175);
            padding: 5px 2vw;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(0, 0, 0);
            width: auto;
            min-width: 100px;
    
            img {
                height: 60px;
                margin-top: -10px;
            }
        }
    }

    .operator-stats {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        width: 90vw;
        padding: 10px 20px;
        margin-bottom: 40px;

        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        list-style-type: none;

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 1.5rem;

            .operator-health-full {
                background-color: rgb(0, 0, 0);
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }

            .operator-health-empty {
                background-color: rgb(255, 0, 0);
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
    }

    .operator-loadout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .loadout-category {
            font-size: 1.5rem;
        }

        .item-list {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(auto-fill, 1fr);
            grid-template-columns: repeat(auto-fill, 100px);
            gap: 5px;
        }
    }

    .operator-art {
        height: 40vw;
        width: 100%;
        object-fit: cover;
        padding-top: 40px;
    }

    .operator-counters {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}