.Operator {
    padding-top: var(--navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .operator-landing {
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: repeat(6, auto);
        width: auto;
        justify-items: center;

        .portrait-backdrop {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            position: relative;

            display: flex;
            justify-content: center;
            align-items: flex-end;;

            width: 80vw;
            max-width: 350px;

            background-color: rgb(175, 175, 175);
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            padding: 10px 2vw 0 2vw;
            margin-bottom: 40px;

            .operator-portrait {
                position: relative;
                z-index: 1;

                width: auto;
                max-width: 100%;
                height: auto;
            }
        }

        .operator-title {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
            z-index: 2;

            justify-self: center;
            align-self: end;
            margin-bottom: 50px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            background-color: rgb(175, 175, 175);
            padding: 5px 2vw;
            border-radius: 10px;
            box-shadow: 5px 5px 10px rgb(0, 0, 0);
    
            img {
                height: 15vw;
                max-height: 100px;
                margin-top: -10px;
            }
        }


        .toggle-skin {
            grid-column: 1 / -1;
            grid-row: 2 / 3;

            padding: 5px 10px;
            font-size: 1.25rem;
        }

        #stats-header {
            grid-column: 1 / -1;
            grid-row: 3 / 4;
        }
    
        .operator-stats {
            grid-column: 1 / -1;
            grid-row: 4 / 5;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fill, 1fr);
            width: 90vw;
            max-width: 500px;
            padding: 10px 20px;
            margin-bottom: 40px;
    
            background-color: rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            list-style-type: none;
    
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                font-size: 1.5rem;
    
                .operator-health,
                .operator-speed {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
    
                    .operator-health-full {
                        background-color: rgb(0, 0, 0);
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                    }
        
                    .operator-health-empty {
                        background-color: rgb(255, 0, 0);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                    }
                }
            }
        }

        #loadout-header {
            grid-column: 1 / -1;
            grid-row: 5 / 6;
        }
    
        .operator-loadout {
            grid-column: 1 / -1;
            grid-row: 6 / 7;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;
            align-items: start;
            gap: 10px;
    
            .loadout-category {
                font-size: 1.5rem;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
            .item-list {
                display: grid;
                grid-template-rows: repeat(auto-fill, 1fr);
                grid-template-columns: repeat(auto-fit, 120px);
                gap: 10px;
                justify-content: center;
                justify-items: center;
                align-items: center;
                width: 90vw;
            }
        }
    }

    .operator-art {
        height: 80vw;
        max-height: 400px;
        width: 100%;
        max-width: 800px;
        object-fit: cover;
        padding-top: 40px;
    }

    .operator-description {
        font-size: 1.5rem;
        width: 80vw;
        max-width: 800px;
    }

    .operator-synergies,
    .operator-counters,
    .operator-hints {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80vw;
        max-width: 800px;
    }
}

@media screen and (min-width: 740px) {
    .Operator {
        .operator-landing {
            .portrait-backdrop {
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                background: none;
                box-shadow: none;

                .operator-portrait {
                    height: 500px;
                    width: auto;
                }
            }

            .operator-title {
                grid-column: 2 / 3;
                grid-row: 1 / 2;

                width: auto;
                height: auto;
            }

            #stats-header {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
            }

            .operator-stats {
                grid-column: 2 / 3;
                grid-row: 3 / 4;

                width: 350px;
            }

            #loadout-header {
                grid-column: 1 / -1;
                grid-row: 4 / 5;
            }

            .operator-loadout {
                grid-column: 1 / -1;
                grid-row: 5 / 6;

                grid-template-rows: 1fr;
                grid-template-columns: repeat(3, 1fr);
                gap: 30px;
                
                .loadout-category {
                    width: auto;

                    .item-list {
                        width: auto;

                        grid-template-columns: repeat(3, auto);
                        grid-template-rows: auto;
                    }
                }
            }
        }
    }
}