@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;

    width: 100vw;
    height: 25vh;
    gap: 10px;
    padding: 10px 20px;

    background-color: black;
    color: white;
    font-family: 'Teko';
    text-transform: uppercase;

    .AppTitle {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        position: relative;
        height: 80%;

        h1 {
            position: relative;
            font-size: 64px;
            height: 100%;
            width: 20%;
            line-height: 75%;
        }

        #r6s-logo {
            position: relative;
            height: 100%;
            filter: invert(1);
        }
    }

    .AppControls {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        position: relative;
        height: 80%;

        img {
            height: 30px;
        }
    }

    .SearchBarFocused {
        min-width: 300px;
        width: 40vw;
        border-radius: 15px;
    }
}

@media only screen and (min-width: 912px) {
    .NavBar {
        display: flex;
        flex-direction: column;
        padding: 10px 20px 0 20px;

        .AppTitle {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            height: 50%;

            h1 {
                font-size: 40px;
                line-height: 64px;
                width: auto;
            }
        }

        .SearchBar {
            position: fixed;
            top: 10px;
            left: 10px;
        }

        .SearchBarFocused {
            min-width: 100px;
            width: 25vw;
        }

        .NavLoginButton {
            position: fixed;
            top: 10px;
            right: 10px;
        }
    }
}