.Blueprint {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80vw;

    .blueprint-buttons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 998;

        .blueprint-room {
            position: absolute;
            width: auto;
            opacity: 0%;
        }

        .blueprint-hover {
            opacity: 100%;
        }
    }
}