.Blueprint {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    position: relative;
    width: 100%;
    max-width: 80vw;
    height: auto;

    .blueprint-image {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        width: 100%;
        z-index: 997;
    }

    .blueprint-room {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        position: relative;
        opacity: 0%;
        z-index: 998;
        width: calc(100% * 80vw);
    }

    .blueprint-hover {
        opacity: 100%;
        cursor: pointer;
    }
}