.Loadout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);

    .loadout-primary {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }

    .loadout-secondary {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }

    .loadout-gadget {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }

    .loadout-ability {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }
}