.ItemCard {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 30px 10px;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1.5rem;
    line-height: 25px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    cursor: pointer;

    img { 
        width: auto;
        max-width: 80px;
        max-height: 50px;
    }
}

.focused {
    transform: scale(110%);
    transition: 0.5s;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}