.NavMenuMobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;

    .NavButton {
        display: flex;
        flex-direction: column;
    }
}