.NavMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    white-space: nowrap;
    width: 90vw;

    li {
        font-size: 2rem;
    }
}